.accordian {
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    height: 60%;
    display: flex;
    align-items: center;
}

.accordian .card {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-top: 20px;
    padding-inline: 30px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    padding-bottom: 20px;
    user-select: none;
}

.accordian .card h3 {
    font-size: 1.2rem;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.accordian .card h3 svg {
    color: rgba(0, 0, 0, .65);
    margin-right: 20px;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.accordian .card .card-body {
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    margin-left: 40px;
    display: none;
    margin-top: 10px;
    padding-right: 10px;
}

.accordian .card.selected {
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    padding-bottom: 0px;
    padding: 40px 30px;
    position: relative;
}

.accordian .card.selected::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    height: 10px;
    background: #fff;
}

.accordian .card.selected .card-body {
    display: block;
    opacity: 1;
}

.accordian .card:hover h3,
.accordian .card.selected h3 {
    color: var(--blue);
}

.accordian .card:hover h3 svg,
.accordian .card.selected h3 svg {
    color: var(--blue);
}