.error__wrapper {
    position: relative;
    width: 60%;
    margin: auto;
}

.error__card {
    background: #FF0000;
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;
    grid-template-rows: auto;
    position: absolute;
    color: #fff;
    width: 100%;
    min-height: 32px;
    margin-top: 16px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.error__card__message {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: left;
}

.error__card__text {
    padding: 10px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    text-align: center;
}

.error__card__button { 
    /* width: 24px;
    height: 24px; */
    width: auto;
    justify-content: center;
    align-content: center;
    display: flex;
    border: none;
    background: none;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.65);
    padding: 0px;
}

.error__card__icon {
    width: 100%;
    justify-content: center;
}