.home__cards .card {
    border-radius: 4px;
    height: 150px;
    padding: 20px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: #FAFAFA;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
}

.home__cards .card:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0);
}

.home__cards .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}

.home__cards .card::after {
    content: '';
    position: absolute;
    top: -20%;
    left: -20%;
    right: -20%;
    bottom: -20%;
    z-index: 3;
    background: linear-gradient(to right, transparent 10%, rgba(255, 255, 255, .25) 18%, transparent 33%);
    background-size: 800px 104px;
    background-position: -320px 0;
    transform: skew(-30deg);
    transition: all 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.home__cards .card:hover::after {
    background-position: 590px 0;
    opacity: 0.3;
}

.home__cards .card .text {
    display: grid;
    grid-template-rows: auto 4fr;
    height: 100%;
}

.home__cards .card .subtext {
    display: flex;
    font-size: 12px;
    align-items: center;
    column-gap: 10px;
}

.home__cards .card .text .title {
    margin-top: auto;
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 0px;
}

.home__cards .card .text .title .viewImage__container,
.home__cards .card .text .title .viewImage__container .viewImage {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    align-self: self-end;
    margin-bottom: 3px;
}

.home__cards .card .text .title span {
    display: block;
    max-width: 240px;
    word-wrap: break-word;
}

@media only screen and (max-width: 768px) {
    .home__cards .card .text .title span {
        max-width: 280px;
    }
}

.home__cards .card:nth-child(2) {
    transition-delay: 0.05s;
}

.home__cards .card:nth-child(3) {
    transition-delay: 0.1s;
}

.home__cards .card:nth-child(4) {
    transition-delay: 0.15s;
}

.home__cards .card:nth-child(5) {
    transition-delay: 0.2s;
}

.home__cards .card:nth-child(6) {
    transition-delay: 0.25s;
}

.home__cards .card:nth-child(7) {
    transition-delay: 0.3s;
}

.home__cards .card:nth-child(8) {
    transition-delay: 0.35s;
}

.home__cards .card:nth-child(9) {
    transition-delay: 0.4s;
}

.home__cards .card:nth-child(10) {
    transition-delay: 0.45s;
}