.home__cards .card {
    border-radius: 4px;
    height: 150px;
    padding: 20px;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: rgb(252, 252, 255);
}

.home__cards .card .text {
    display: grid;
    grid-template-rows: auto 4fr;
    height: 100%;
}

.home__cards .card .subtext {
    display: flex;
    font-size: 12px;
    align-items: center;
    column-gap: 10px;
}

.home__cards .card .text .title {
    margin-top: auto;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.home__cards .card .text .title .viewImage {
    border-radius: 50%;
    height: 24px;
    width: 24px;
}