.dashboard {
    display: grid;
    min-height: calc(100vh - 40px);
    position: relative;
}

.dashboardContent {
    grid-column: 1 / span 4;
    margin-inline: 20px;
}

.dashboard__contents {
    display: grid;
    grid-template-rows: min-content auto;
    grid-row-gap: 20px;
    margin-bottom: 40px;
}

.dashboard.collapsed {
    grid-template-columns: auto 400px;
}

.dashboard.collapsed .sidebar {
    grid-column: 2;
    grid-row: span 2;
}

.dashboard p,
.dashboard h5,
.dashboard .button {
    font-size: 14px;
}

.dashboard button,
.dashboard .button {
    font-weight: 700;
}

.dashboard .loading {
    background: linear-gradient(-46deg, #FAFAFA 0%, #f3f3f3 50%, #FAFAFA 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: loading 2s infinite;
    min-height: 30px;
}

.dashboard .loading.big {
    height: 69px;
    margin-bottom: 20px;
}

.dashboard .loading.short {
    width: 80px;
}

@keyframes loading {
    0% {
        background-position: 100% 0;
    }

    50% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
}

.dashboard__margin__left {
    margin-left: 30px;
}

.div__header {
    align-items: center;
    height: 70px;
}

.preview__container {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    aspect-ratio: 1/1;
    width: max-content;
    height: max-content;
}