.dashboard {
    display: grid;
    grid-template-columns: 250px auto 150px;
    min-height: calc(100vh - 40px);
    position: relative;
}

.dashboard p,
.dashboard a,
.dashboard h5,
.dashboard button,
.dashboard .button {
    font-size: 14px;
}

.dashboard a {
    font-weight: 700;
    color: rgba(0, 0, 0, .65);
    text-decoration: none;
}

.dashboard a svg {
    color: rgba(0, 0, 0, .35);
}