.dashboard {
    display: grid;
    grid-template-columns: 250px auto min-content;
    min-height: calc(100vh - 40px);
    position: relative;
}

.dashboard p,
.dashboard h5,
.dashboard .button {
    font-size: 14px;
}

.dashboard button,
.dashboard .button { 
    font-weight: 700;
}

.dashboard__margin__left {
    margin-left: 40px;
}

.div__header { 
    align-items: center;
    height: 70px;
}

.preview__container {
    position: relative;
    overflow: hidden;
    border: 1px solid #E3E0E0;
    border-radius: 8px;
    aspect-ratio: 1/1;
    width: max-content;
    height: max-content;
}