[[redirects]]
    from = "/*"
    to = "/index.html"
    status = 200
[[headers]]
  for = "/manifest.json"
  [headers.values]
    Access-Control-Allow-Origin = "*"
    Access-Control-Allow-Methods = "GET"
    Access-Control-Allow-Headers = "X-Requested-With, content-type, Authorization"