.form__group {
    display: grid;
    grid-template-columns: auto;
    margin-bottom: 20px;
}

.form__group label {
    font-size: 14px;
    margin-bottom: 10px;
}

.form__group input { 
    border: 1px solid #E0E0E0;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
}