.preview__image {
    max-width: 250px;
    max-height: 250px;
}

.preview__container {
    position: relative;
}
.preview__container::after {
    box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.15);
    max-width: 250px;
    max-height: 250px;
    border: 1px solid #E3E0E0;
    background: transparent;
    border-radius: 8px;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}