.preview__image {
    max-width: 250px;
    max-height: 250px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.preview__container {
    position: relative;
    overflow: hidden;
    border: 1px solid #E3E0E0;
    border-radius: 8px;
    aspect-ratio: 1/1;
    width: max-content;
    height: max-content;
}

.preview__container::after {
    box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.15);
    max-width: 250px;
    max-height: 250px;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}