.action_bar {
	display: grid;
	grid-column: 1 / span 4;
	grid-template-columns: 8fr 4fr;
	grid-template-rows: 1fr;
	align-items: center;
	margin-inline: 20px;
	border-bottom: 1px solid #e0e0e0;
	padding-block: 20px;
	margin-bottom: 20px;
}

.action_bar .action_bar__actions {
	display: flex;
	justify-content: flex-end;
}

.action_bar .action_bar__toggle {
	display: none;
	cursor: pointer;
}

@media (max-width: 768px) {
	.action_bar {
		grid-template-columns: 10fr 3fr;
	}

	.action_bar .action_bar__toggle {
		display: block;
		margin-left: auto;
	}

	.action_bar .action_bar__actions.collapsed {
		display: none;
	}

	.action_bar .action_bar__actions {
		grid-column: 1 / span 2;
	}

	.action_bar .action_bar__actions .actions {
		width: 100%;
		display: flex;
		flex-direction: column;
		row-gap: 10px;
		margin-top: 20px;
	}
}

.action_bar .action_bar__header * {
	margin: 0;
}

.action_bar .action_bar__header .profile__image {
	border-radius: 50%;
	height: 24px;
	width: 24px;
	margin-right: 10px;
	background-color: #fafafa;
}

.action_bar .action_bar__header {
	display: grid !important;
	align-items: center;
	grid-template-columns: min-content min-content auto;
	justify-content: initial !important;
}

.action_bar .action_bar__header.single {
	display: grid;
	align-items: center;
	grid-template-columns: auto;
	margin-bottom: 30px;
}

.action_bar .action_bar__header .action_bar__header__image {
	border-radius: 50%;
	height: 24px;
	width: 24px;
	margin-right: 10px;
}

.action_bar .action_bar__header a {
	color: #1b1b1b;
}

.action_bar .action_bar__header .action_bar__header__subtext {
	display: grid !important;
	width: 100%;
	grid-template-rows: min-content auto;
	grid-template-columns: auto auto auto;
	align-items: center;
	font-size: 14px;
}

.action_bar .action_bar__header .action_bar__header__subtext div {
	grid-row: span 2;
}

.action_bar .sidebar__header .sidebar__header__subtext a {
	margin-left: auto;
	width: 100%;
	text-align: right;
	color: rgba(0, 0, 0, 0.35);
}

.sidebar .sidebar__header .sidebar__header__subtext a:hover,
.sidebar .sidebar__header .sidebar__header__subtext a:active,
.sidebar .sidebar__header .sidebar__header__subtext a:focus {
	color: rgba(0, 0, 0, 0.65);
}

.sidebar__organizations button {
	display: block;
}

.sidebar__organizations .sidebar__organization {
	display: grid;
	grid-template-columns: 28px auto;
	align-items: center;
	margin-bottom: 8px;
}

.sidebar__organizations .sidebar__organization img {
	border-radius: 4px;
	height: 18px;
	width: 18px;
	margin-right: 10px;
}

.sidebar__organizations .sidebar__organization a {
	margin: 0;
}

.sidebar .logout {
	position: absolute;
	bottom: 0;
}

.sidebar .logout span {
	color: rgba(0, 0, 0, 0.35);
}

.sidebar .logout svg {
	margin-right: 10px;
}

.text-clip {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
