.btn-control {
    font-family: 'Orbitron', sans-serif;
    display: flex; 
    align-items: center;
    background-color: #FFFFFF;
    color: #000000;
    border: none;
    box-shadow: 2px 6px 4px 2px #FFFFFF50;
    font-size: 12px;
    font-weight: 600;
    width: 100px;
    height: 35px;
    justify-content: center;
    text-align: center;
}

.btn-control:hover,
.btn-control:active {
    background-color: #c4c4c4;
    box-shadow: 4px 6px 4px 2px #FFFFFF20;
    cursor: pointer;
}