.preview {
	display: grid;
	grid-template-columns: 8fr 4fr;
	max-width: 920px !important;
	align-items: center;
	column-gap: 80px;
	padding-block: 80px;
	margin: auto;
}

.preview.full {
	max-width: 100% !important;
	grid-template-columns: 1fr;
	padding-block: 10px;
	margin-bottom: 40px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.preview.full .container {
	padding-inline: 0;
}

.preview.full img,
.preview.full a {
	display: none;
}

.preview.left {
	grid-template-columns: 4fr 8fr;
	grid-template-areas: 'img content';
}

.preview.left img {
	grid-area: img;
}

.preview.left .content {
	grid-area: content;
}

.preview h4 {
	font-size: 24px;
	font-weight: 400;
}

.preview img.logo {
	width: 80%;
	filter: saturate(0) brightness(0);
}

.preview .author {
	display: flex;
	align-items: center;
	gap: 20px;
}

.preview .author .avatar {
	border-radius: 50%;
	background: grey;
	height: 35px;
	width: 35px;
}

.preview .author p {
	font-size: 0.85rem;
}

.preview .author a {
	margin-left: auto;
	width: 200px;
	border-bottom: none;
}
