#badge {
    margin-left: var(--page-margins);
    margin-right: var(--page-margins);
}

.center__gutter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
}

.center__gutter .badge__actions {
    margin-left: auto;
}

.badge__actions svg {
    color: rgba(0, 0, 0, 0.35);
    margin-right: 10px;
}

.badge__action span {
    color:rgba(0, 0, 0, 0.65);
}