.org__container * { 
    margin: 0;
}

.org__container.empty { 
    min-height: 100%;
    display: grid;
    align-content: center;
    max-width: 40%;
    margin: auto;
    text-align: center;
}

.org__container.empty h1 { 
    margin-bottom: 20px;
}

.org__container.empty p { 
    margin-bottom: 40px;
}

.org__container.empty a { 
    margin-inline: auto;
}

.org__badges {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.org__badges .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}