.sidebar.right { 
    width: 300px;
}

.sidebar.right::after { 
    content: "";
    border-left: 1px solid #E3E0E0;
    position: absolute;
    left: -20px;
    top: 0px;
    bottom: 0px;
}

.sidebar.right .sidebar__header { 
    display: grid;
}

.sidebar.right .sidebar__header div { 
    margin-left: auto;
}

.sidebar.right .sidebar__header svg { 
    color:rgba(0, 0, 0, .35);
}

.sidebar.right p { 
    color: rgba(0, 0, 0, .65);
}

.sidebar.right .sidebar__content { 
    margin-bottom: 20px;
}

.sidebar.right .sidebar__footer {
    display: grid;
    grid-template-columns: 200px auto auto;
    align-items: center;
}

.sidebar.right .sidebar__footer svg { 
    color:rgba(0, 0, 0, .35);
    margin-right: 10px;
}

.sidebar.right.collapsed { 
    width: fit-content;
    padding-right: 30px;
}

.sidebar.right.collapsed::after { 
    border-left: none;
}

.sidebar.right.collapsed .sidebar__header h5,
.sidebar.right.collapsed .sidebar__content, 
.sidebar.right.collapsed .sidebar__statuses,
.sidebar.right.collapsed .sidebar__footer { 
        display: none; 
}