.sidebar {
    height: 100%;
    position: relative;
    margin: 20px;
}

.sidebar.left::after {
    content: "";
    border-right: 1px solid #E3E0E0;
    position: absolute;
    right: 0;
    top: 0px;
    bottom: 0px;
}

.sidebar .sidebar__header * { 
    margin: 0;
}

.sidebar .sidebar__header { 
    display: grid;
    align-items: center;
    grid-template-columns: 34px auto;
    margin-bottom: 30px;
}

.sidebar .sidebar__header img { 
    border-radius: 50%;
    height: 24px;
    width: 24px;
    margin-right: 10px;
}

.sidebar .sidebar__header a { 
    color: #000;
}

.sidebar__category * {
    margin: 0;
}

.sidebar__category {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 10fr 2fr;
    align-items: center;
}

.sidebar__category h5 { 
    color:rgba(0, 0, 0, .35)
}

.sidebar__category svg {
    margin-left: auto;
    color: rgba(0, 0, 0, .35);
    margin-right: 20px;
}

.sidebar__organizations {}

.sidebar__organizations .sidebar__organization { 
    display: grid;
    grid-template-columns: 28px auto;
    align-items: center;
}

.sidebar__organizations .sidebar__organization img { 
    border-radius: 2px;
    height: 18px;
    width: 18px;
    margin-right: 10px;
}

.sidebar__organizations .sidebar__organization a { 
    margin: 0;
}

.sidebar .logout {
    position: absolute;
    bottom: 32px;
}

.sidebar .logout span { 
    color:rgba(0, 0, 0, .35);
}

.sidebar .logout svg { 
    margin-right: 10px;
}