.preview__image {
    width: 250px;
    height: 250px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.badge__form__general {
    display: grid;
    grid-template-columns: 10fr 2fr; 
    grid-column-gap: 20px;
}

.badge__form__access {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}

.preview__container::after {
    box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.15);
    max-width: 250px;
    max-height: 250px;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}