.home__announcement {
    background-color: #FAFAFA;
    color: #06061C;
    padding: 20px;
    margin-bottom: 20px;
}

.home__announcement p {
    margin: 0;
}

.home__cards {
    display: grid;
    /* make it to where the cards auto fit */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}