.home {
    margin-inline: 20px;
}

.home .home__announcement .card {
    padding: 20px;
    display: grid;
    grid-template-columns: 32px auto;
    margin-top: 20px;
    align-items: center;
}

.home .home__announcement .card .announcement__status {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 1px solid #E0E0E0;
}

.home .home__announcement .card .announcement__message {
    line-height: 16px;
}

.home__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

@media screen and (max-width: 990px) {
    .home__cards {
        grid-template-columns: 1fr 1fr;
    }
}