.home__announcement {
	background-color: #fafafa;
	color: #06061c;
	padding: 20px;
	margin-bottom: 20px;
}

.home__announcement p {
	margin: 0;
}

.home__cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 20px;
}

@media only screen and (max-width: 768px) {
	.home__cards {
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	}
}
