.media h2 {
    margin-top: 80px;
}

.media .intro img {
    height: 50px;
    margin-bottom: 20px;
}

.media .granular {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.media .granular .fonts .four {
    font-size: 1rem;
    font-weight: 400;
}

.media .granular .fonts .seven {
    font-weight: 700;
    font-size: 1.2rem;
    color: #000;
}

.media .granular .colors {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    max-width: 640px;
}

.media .granular .colors div {
    cursor: pointer;
}

.media .granular .colors .color {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.media .images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
}

.media .images img {
    width: 100%;
}

@media (max-width: 1024px) {
    .media .granular {
        grid-template-columns: 1fr;
    }

    .media .granular .colors {
        grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    }
}