.vanities { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

hr { 
    margin: 30px 20px;
    background-color: #EEEEF6;
    border: none;
    height: 1px;
}

input[type="file"] { 
    display: none;
}