.stories .container .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin: auto;
    gap: 20px;
    row-gap: 80px;
}

@media (max-width: 1024px) {
    .stories .container .cards {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}