.home { }

.home .home__announcement .card {
    padding: 20px;
    display: grid;
    grid-template-columns: 32px auto;
    margin-top: 20px;
    align-items: center;
}

.home .home__announcement .card .announcement__status { 
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 1px solid #E0E0E0;
}

.home .home__announcement .card .announcement__message {
    line-height: 16px;
}

.home .home__cards { 
    margin-top: 20px;
    display: grid;
    gap: 10px;
    grid-template: 'card1 card2'
                   'card1 card3'
                   'card1 card4'
                   'card5 card6';
}

.home .home__cards .home__cards__column { 
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
}

.home__cards .card__video { 
    background: #000;
    min-height: 300px;
    margin-bottom: 20px;
}

.home__cards .card .home__card__content { 
    display: grid;
    grid-template-columns: 32px auto;
    padding: 20px;
}

.home__cards .card svg { 
    margin-top: 10px;
    color: rgba(0,0,0,.35);
}

@media only screen and (max-width: 1200px) {
    .home .home__cards { 
        grid-template: none;
        grid-template-columns: 1fr;
    }
}