.footer .container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
}

.footer .container a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    display: block;
}

.footer .links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer .links .list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
}

.footer .links .list h4,
.footer .legal h4 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
}

.footer .links .list a {
    margin-top: 10px;
}

.footer .legal {
    margin-top: 60px;
    display: flex;
}

.footer .legal h4 {
    display: none;
}

.footer .legal div {
    width: 100%;
    display: flex;
    gap: 45px;
}

.footer .legal p {
    color: black;
    white-space: nowrap;
    margin: 0;
    display: inline-flex;
    float: right;
}

.footer .container .column {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 1028px) {
    .footer .container {
        grid-gap: 40px;
        grid-template-columns: 1fr 3fr;
    }
    .footer .container .links {
        grid-template-areas: "a b"
                             "c d";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .links .list.features {
        grid-area: a;
    }
    
    .links .list.features__extended {
        display: block;
        grid-area: c;
    }
    
    .links .list.solutions {
        grid-area: b;
    }
    
    .links .list.community {
        grid-area: d;
    }
    
    .links .list.community {
        margin-top: 30px;
        grid-area: d;
    }
    
}

@media only screen and (max-width: 628px) {
    .footer .container {
        grid-template-columns: 1fr;
        grid-template-rows: min-content 1fr;
        grid-gap: 30px;
    }
    .footer .container .logo {
        max-width: 300px;
    }

    .footer .container .links {
        grid-template-areas: "a"
                             "b"
                             "c"
                             "d";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    
    .links .list.features {
        grid-area: a;
    }
    
    .links .list.features__extended {
        display: block;
        grid-area: b;
    }
    
    .links .list.solutions {
        grid-area: c;
    }
    
    .links .list.community {
        grid-area: d;
    }
    
    .footer .legal {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .footer .legal h4 {
        display: block;
    }
    
    .footer .legal div {
        flex-direction: column;
        gap: 10px;
    }
    
    .footer .legal p {
        margin-top: 10px;
        margin-bottom: 10px;
        float: none;
    }
}