.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header svg {
    margin-right: 10px;
}

.header .header__actions {
    margin-left: auto;
    color: rgba(0, 0, 0, 0.35);
    gap: 10px;
    display: flex;
}
