.logout {
    color: rgba(0, 0, 0, .35) !important;
}

.logout:hover,
.logout:active,
.logout:focus { 
    color: rgba(0, 0, 0, .65) !important;
}

.logout svg {
    color: inherit !important;
}

.logout span {
    color: inherit !important;
}