# Ignore the following in Docker context transfer
+**/.git
+**/.gitignore
+**/.gitmodules
+**/.dockerignore
+**/Dockerfile
+**/README.md
+**/LICENSE

***/artifacts/
***/cache/
***/coverage/
***/node_modules/

coverage.json

