.App {
    text-align: center;
    /* background: linear-gradient(180deg, #36008d, #49009d, #8500c7, #f201ff, #ff40cf, #ff79b8, #ffa3bb, #ffb3c1);     */
    /* background-color: #36008D; */
    background: linear-gradient(to bottom right, #000000, #6b6b6b);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    font-family: 'Orbitron', sans-serif;
  }
  
h1, h2, h3, h4, p, span {
    color: #ffffff;
}

* {
  font-family: 'Orbitron', sans-serif;
}