* {
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
}

.App {
  position: relative;
  min-height: 100vh;
}

@media screen and (max-width: 2400px) {
  .page-margins{
    margin-right: 300px;
    margin-left: 300px;
  }
  .page-margin-left{
    margin-left: 300px;
  }
  .page-margin-right{
    width: 100%;
    margin-right: 300px;
  }
}

@media screen and (max-width: 1200px) {
  .page-margins{
    margin-right: 150px;
    margin-left: 150px;
  }
  .page-margin-left{
    margin-left: 150px;
  }
  .page-margin-right{
    width: 100%;
    margin-right: 150px;
  }
}
@media screen and (max-width: 900px) {
  .page-margins{
    margin-right: 80px;
    margin-left: 80px;
  }
  .page-margin-left{
    margin-left: 80px;
  }
  .page-margin-right{
    width: 100%;
    margin-right: 80px;
  }
}

@media screen and (max-width: 600px) {
  .page-margins{
    margin-right: 10px;
    margin-left: 10px;
  }
  .page-margin-left{
    margin-left: 10px;
  }
  .page-margin-right{
    width: 100%;
    margin-right: 10px;
  }
}