:root {
  --page-margins: 20px;
}

* {
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
}

.App {
  position: relative;
  min-height: 100vh;
}

button { 
  background: transparent;
  border: 1px solid #000;
  outline: none;
  padding: 5px 20px;
  cursor: pointer;
}

.button__unstyled {
  background: none;
  border: none;
  padding: 0px;
  text-align: left;
  all: none;
}

.button-primary { }

.button-secondary {}

.lead { 
  font-size: 18px;
}

.internal-link {
  text-decoration: none;
}

@media screen and (max-width: 3000px) {
  .page-margins{
    margin-right: 300px;
    margin-left: 300px;
  }
  .page-margin-left{
    margin-left: 300px;
  }
  .page-margin-right{
    width: 100%;
    margin-right: 300px;
  }
}

@media screen and (max-width: 1200px) {
  .page-margins{
    margin-right: 100px;
    margin-left: 100px;
  }
  .page-margin-left{
    margin-left: 100px;
  }
  .page-margin-right{
    width: 100%;
    margin-right: 100px;
  }
}
@media screen and (max-width: 900px) {
  .page-margins{
    margin-right: 50px;
    margin-left: 50px;
  }
  .page-margin-left{
    margin-left: 50px;
  }
  .page-margin-right{
    width: 100%;
    margin-right: 50px;
  }
}

@media screen and (max-width: 600px) {
  .page-margins{
    margin-right: 10px;
    margin-left: 10px;
  }
  .page-margin-left{
    margin-left: 10px;
  }
  .page-margin-right{
    width: 100%;
    margin-right: 10px;
  }
}