.button {
    padding: 0;
    display: grid;
    grid-template-columns: auto auto;
    font-weight: 700;
    cursor: pointer;
    transition: .1s all ease-in-out;
}

.button__text {
    padding-inline: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    transition: .1s all ease-in-out;
}

.button__icon {
    border: 1px solid #000;
    background: #000;
    color: #fff;
    padding: 5px 10px;
    transition: .1s all ease-in-out;
}

.button:hover .button__text,
.button:active .button__text,
.button:focus .button__text {
    background: #000;
    color: #fff;
}

.button:disabled:hover .button__text,
.button:disabled:active .button__text,
.button:disabled:focus .button__text {
    background: inherit;
    color: inherit;
    cursor: default;
}

.button:disabled .button__icon {
    cursor: default;
}

.button:disabled:hover .button__icon svg {
    transform: translateX(0px);
}

/* When the button is hovered do a little bump to the icon */
.button:hover .button__icon svg {
    transform: translateX(2px);
}

.button.wiggle:hover .button__icon svg {
    animation: wiggle 0.1s ease-in-out;
}

.button.button__loading,
.button.button__loading:hover,
.button.button__loading:active,
.button.button__loading:focus {
    background: #fff;
    /* background-image: linear-gradient(to right, white 0%, white 50%, #72fec9, #00FF9D 60%, white 70%); */
    background-image: linear-gradient(to right, #fff, #00FF9D, #fff);
    background-repeat: no-repeat;
    background-size: 400px 104px;
    animation: loading__shimmer 3s linear infinite alternate;
}

.button.button__loading .button__text,
.button.button__loading:hover .button__text,
.button.button__loading:active .button__text,
.button.button__loading:focus .button__text {
    color: #000;
    background: inherit;
}

.button.button__error {
    background: #FF0000;
}

@keyframes wiggle { 
    0% { transform: translateX(0px); }
    50% { transform: translateX(2px); }
    100% { transform: translateX(0px); }
}

@keyframes loading__shimmer {
    0% {
        background-position: -500px 0;
    }

    100% {
        background-position: 200px 0;
    }
}