tr {
    height: 48px !important;
}

td {
    padding: 0px !important;
}

th {
    padding: 0px !important;
}

th:first-child {
    padding-left: 20px !important;
}

th:last-child,
td:last-child {
    padding-right: 20px !important;
}

th:not(:last-child) {
    padding-right: 20px !important;
}


#holder__table {
    margin-inline: -20px;
}

.delegate__status__true {
    /* border: 2px solid #00FF9D; */
    color: #00FF9D;
    border-radius: 50px;
    text-align: center;
    width: 40px;
    padding: 1px;
    /* margin: auto; */
}

.delegate__status__false {
    /* border: 2px solid #FF0000; */
    color: #FF0000;
    border-radius: 50px;
    text-align: center;
    width: 40px;
    padding: 1px;
    /* margin: auto; */
}