.table__sort__head {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: 700;
    cursor: pointer;
    transition: .1s all ease-in-out;
    color: transparent;
}
.table__sort__head__label {
    color: rgba(0, 0, 0, .35);
    height: 100%;
    display: flex;
    align-items: center;
    transition: .1s all ease-in-out;
}
.table__sort__icon__solid {
    color: rgba(0, 0, 0, .35);
}

.table__sort__icon {
    width: min-content;
    margin-left: auto;
}

.table__sort__icon svg {
    margin-top: 2px;
    width: 20px;
    height: 20px;
}

.table__sort__head:hover {
    color: rgba(0, 0, 0, .35);
}
