.accordion {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-inline: 30px;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.accordion .card {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    background: #fff;
    padding-top: 20px;
    padding-inline: 30px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    padding-bottom: 20px;
    user-select: none;
    width: 100%;
}

.accordion .card h3 {
    font-size: 1.2rem;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.accordion .card h3 svg {
    color: rgba(0, 0, 0, .65);
    margin-right: 20px;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.accordion .card .card-body {
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    display: none;
    margin-top: 10px;
    padding-right: 10px;
}

.accordion .card.left .card-body {
    margin-left: 40px;
}

.accordion .card.selected {
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    padding-bottom: 0px;
    padding: 40px 30px;
    position: relative;
}

.accordion .card::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    height: 0px;
    background: #fff;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.accordion .card.selected::after {
    height: 10px;
}

.accordion .card.selected .card-body {
    display: block;
    opacity: 1;
}

.accordion .card h3 svg {
    color: rgba(0, 0, 0, .65);
}

.accordion .card:hover h3,
.accordion .card.selected h3 {
    color: var(--blue);
}

.accordion .card:hover h3 svg,
.accordion .card.selected h3 svg {
    color: var(--blue);
}

.accordion .card h3 {
    display: grid;
    grid-template-columns: auto min-content;
    align-items: center;
}

.accordion .card.left h3 { 
    grid-template-columns: min-content auto;
}

.accordion .card h3 svg {
    justify-self: end;
    align-self: center;
    height: 14px;
    width: 14px;
}

.accordion .card.selected h3.animated svg {
    transform: rotate(180deg);
}