venv/
cache
.env
*.pyc
db.sqlite3
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
local.py
production.py
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
