.empty {
    display: grid;
    grid-column: 1 / span 4;
    background: #FAFAFA;
    border-radius: 4px;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.dashboardContent .empty {
    margin: 0px;
    margin-top: 20px;
}

.empty .dashboardContent {
    grid-column: 1 / span 2;
    max-width: 480px;
    margin: auto;
    padding: 15px;
}

.empty .dashboardContent h1 {
    margin-top: 15px;
}

.empty .dashboardContent {
    max-width: 540px;
}

.empty h1 {
    max-width: 480px;
    margin-inline: auto;
    margin-bottom: 0px;
}

.empty p {
    max-width: 420px;
    margin-inline: auto;
    margin-bottom: 20px;
}

.empty button {
    margin-inline: auto;
}